@import '../modules/breakpoints';
@import '../modules/colors';
@import '../modules/container';
@import '../modules/fonts';

body {
    font-family: $brand-font;
    font-size: 16px;
}

#menu-top-nav{
    font-size: 14px;
}

td {
    font-size: 14px;
}

.entry-content  {
    ul, ol {
        font-size: 1.05em;
    }

    p {
        margin-top: 1.3em;
        font-size: 1em;
        line-height: 1.8em;
        
        @media only screen and (min-width: $break-mobile) {
            font-size: 1.1em;
            line-height: 1.9em;
        }
    }

    ul {
        list-style-type: disc;
    }

    ul, ol {
        > li {
            line-height: 1.5em;
            margin-left: 20px; 
            margin-bottom: 10px;

            > ul {
                list-style-type: circle;
                font-size: 0.9em;

                > li {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    table {
        line-height:1.5em;
        margin-top: 1.8em;
    }
}

td {
    vertical-align:top;
    border: 1px solid #ccc;
    padding: 10px;
}

blockquote { 
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    background: none;
    border: none;
    color: $accent-color;
    font-weight: bold;
    line-height: 1.3em;

    p {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        color: $accent-color;
        font-weight: bold;
        line-height: 1.3em;
    }
    
    .blockquote__quotee {
        font-weight: 600;
        line-height: 1.3em;
        text-transform: uppercase;
    }
}

.subhead1 {
    margin-bottom: 4px;
    line-height: 1.575em;
    font-size: 1.3em;
    font-weight:600;
    text-transform: capitalize;
    color: $link-color;
    
    @media only screen and (min-width: $break-mobile) {
        margin-bottom: 0;
        line-height: 1.4em;
        font-size: 1.8em;
    }
}

.strategy-title-text {
    font-weight: 600;
    color:$accent-color;
}
