.entry-content {
    a, a:hover {
        color:$link-color;
        .container_button {
            color: $link-color;
            a:hover {
                color:white;
                background-color: $link-color;
            }
        }
    }
}

