.entry-content {
    a {
        color:$link-color;
        &:hover {
            color:$link-color;
        }
        &.container_button {
            display: inline-block;
            background-color: white;
            border-color: $link-color;
            border-width: 1px;
            border-style: solid;
            text-decoration: none;
            padding: 8px 6px;
            &:hover {
                color:white;
                background-color: $link-color;
            }
        }
    }
    
}
