.entry-content {
    a {
        color:$link-color;
        &:hover {
            color:$link-color;
        }
        &.container_button {
            display: inline-block;
            // background-color: white;
            border-color: $link-color;
            border-width: 1px;
            border-style: solid;
            text-decoration: none;
            padding: 8px 6px;
            background-size: 0px;
            transition: .6s ease;
            background-image: none;
            &:hover {
                background-size: auto;
                color:white;
                /*background-color: $link-color;*/
            }
        }
        &.button-start {
            float:right;
            content: "Start reading >";
            border-width: 2px;
            border-image: linear-gradient(to top right, rgba($brand-color,0.5), rgba($brand-color,1));
            border-image-slice: 1;
            color:$brand-color;
            &:hover {
                background-image: linear-gradient(to top right, rgba($brand-color,0.5), rgba($brand-color,1));
            }
        }
        &.button-next {
            float:right;
            content: "Next >";
            border-width: 2px;
            border-image: linear-gradient(to bottom left, $brand-color, $accent-color);
            border-image-slice: 1;
            color:$brand-color;
            &:hover {
                background-image: linear-gradient(to bottom left, $brand-color, $accent-color);
            }
        }
        &.button-prev {
            float:left;
            content: "< Previous";
            border-width: 2px;
            border-image: linear-gradient(to bottom right, $brand-color, $accent-color);
            border-image-slice: 1;
            color:$brand-color; 
            &:hover {
                background-image: linear-gradient(to bottom right, $brand-color, $accent-color);
            }
        }
    }
    
}
