@import '../modules/colors';
@import '../modules/breakpoints';

.carousel {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-section {
  max-width: 110%;
  padding-bottom: 55px;
  margin: 4.4em -15px 1.8em -15px;
  background: #efefef;

  @media only screen and (min-width: $break-tablet) {
    max-width: 100%;
    padding-bottom: 0;
  }
}

.carousel-content {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0.9em;

  @media only screen and (min-width: $break-desktop) {
    padding-left: 4.3em;
  }

  h4 {
    color: $accent-color;
    font-size: 22px;
    text-transform: none; 
  }

  p {
    color: $brand-color;
    font-size: 0.9em;
    line-height: 1.3em;
  }
}

.carousel-cell { 
  width: 100%;

  img {
    width: 100%;
  }
}

.callout-button {
  margin-top: 25px;
}

.carousel__featured-label::before {
  content: "Applying the plan";
  text-transform: uppercase;
}

.flickity-button {
  background-color: transparent;
  border: 1px solid $brand-color;
  color: $brand-color;

  &:hover {
    background-color: transparent;
  }
}

.flickity-prev-next-button {
  .flickity-button-icon {
    position: absolute;
    left: 12px;
    top: 14px;
    width: 16px;
    height: 14px;
  }
}

@media only screen and (min-width: $break-desktop){
  .flickity-prev-next-button.previous {
    left: -70px;
  }
}

.flickity-page-dots {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  bottom: -30px;

  @media only screen and (min-width: $break-tablet){
    position: absolute;
    width: 100%;
    margin: 0;
    bottom: -25px;
  }

  .dot {
    background: $accent-color;
  }
}

@media only screen and (max-width: $break-tablet){
  /*.carousel-section {
      max-width: 110%;
      padding-bottom: 55px;
  }
  .flickity-page-dots {
      position: relative;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      bottom: -30px;
  }*/
  .flickity-prev-next-button{
    top: auto;
    bottom: -85px;
  }

  .btn-next {
    margin-top: 3.5em;
  }
}
