.accent-color{
    color: $accent-color;
}
.brand-color{
    color:$brand-color;
}
.link-color{
    color:$link-color;
}
.text-color__white{
    color:#fff;
}

%underline-shared {
    border-bottom: 3px solid;
  }
.underline__link-color{
    @extend %underline-shared;
    border-color: $link-color;
}
.underline__brand-color{
    @extend %underline-shared;
    border-color: $brand-color;
}
.vertical-line__left{
    border-left:3px solid $link-color;
}

.mission-border-color {
    //border-left: 5px solid $priority-mission-color;
}

.vision-border-color {
    //border-left: 5px solid $priority-vision-color;
}