.accent-color{
    color: $accent-color;
}
.brand-color{
    color:$brand-color;
}
.link-color{
    color:$link-color;
}
.text-color__white{
    color:#fff;
}
.underline{
    border-bottom:3px solid $link-color;
}