.accent-color{
    color: $accent-color;
}
.brand-color{
    color:$brand-color;
}
.link-color{
    color:$link-color;
}
.text-color__white{
    color:#fff;
}

%underline-shared {
    border-bottom: 3px solid;
  }
.underline__link-color{
    @extend %underline-shared;
    border-color: $link-color;
}
.underline__brand-color{
    @extend %underline-shared;
    border-color: $brand-color;
}
.vertical-line__left{
    border-left:3px solid $link-color;
}

.mission-border-color {
    position: relative;
    padding-left: 20px;

    &:after {
        content: "";
        background: $priority-mission-color;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 10px;
    }
}

.vision-border-color {
    position: relative;
    padding-left: 20px;

    &:after {
        content: "";
        background: $priority-vision-color;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 10px;
    }
}

.cursor__default{
    cursor:default;
}