.footer-cta {
    background-image: $diagonal-brand-to-accent-gradient;
    padding: 40px 0;
    .footer-container {
        max-width: $container-size;
        margin-left: auto;
        margin-right: auto;
        .link-animation {
            &:after {
                background: #ffffff;
            }
            &:hover {
                &:after {
                    background: #ffffff;
                }
            }
        }
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 1.1em;
            transition: all 0.2s ease-in-out;
        }
        .footer-button {
            display: inline-block;
            border-color: $brand-color;
            border-width: 1px;
            border-style: solid;
            border-color: #ffffff;
            padding: 12px 24px;
            /* commenting out hover until brochure is ready
            &:hover {
                background: #fff;
                color: $link-color;
                border-color: $brand-color;
            }
            */
            @media only screen and (max-width: $break-tablet) {
                margin-bottom: 20px;
            }
        }
        .footer-apsc {
            display: inline-block;
            padding: 12px 0px;
            @media only screen and (min-width: $break-laptop) {
                float: right;
            }
            &:hover {
                /*color: $link-color;*/
            }
        }

        .brochure-wip {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
        }

        .row-fluid .span6 p {
            margin: 0;
        }
    }
}

#ubc7-unit-footer {
    display: none;
    border: none;
    padding: 0px;
    font-size: 1.1em;
}

footer .ubc7-back-to-top {
    display: none;
}

