.footer-cta {
	background-image: $diagonal-brand-to-accent-gradient;
	padding: 40px 0;

	.footer-container {
		max-width: $container-size;  
                margin-left: auto;
                margin-right: auto;

                a {
                	text-decoration: none;
                	color: #ffffff;
                	font-size: 1.3em;
                        transition: all 0.2s ease-in-out;
                }

                .footer-button {
                	border-color: $brand-color;
                	border-width: 1px;
                	border-style: solid;
                        border-color: #ffffff;
                	padding: 12px 24px;

                	&:hover {
                		background-image: $diagonal-link-gradient;
                                color: $brand-color;
                                border-color: $brand-color;
                                font-weight: 600;
                	}
                }

                .footer-apsc {
                	@media only screen and (min-width: $break-laptop) {
        	            float: right;    
        	        }

        	        &:hover {
                		color: $link-color;
                	}
                }
        }
}

#ubc7-unit-footer {
        display: none;
        border: none;
        padding: 0px;       
}

footer .ubc7-back-to-top {
        display: none;
}