.footer-cta {
	background-image: $diagonal-brand-to-accent-gradient;
	padding: 40px 0;

	.footer-container {
		max-width: $content-width;  
        margin-left: auto;
        margin-right: auto;

        a {
        	text-decoration: none;
        	color: #ffffff;
        }

        .footer-button {
        	border-color: $link-color;
        	border-width: 1px;
        	border-style: solid;
        	padding: 8px 6px;

        	&:hover {
        		
        	}
        }


        .footer-apsc {
        	float: right;
        }
	}
}