.gallery-hover-effect {
    &.border-less
    {
        .gallery-hover
        {
            padding:0;
            div[id^="post"]
            {
                .gallery_tile_img
                {
                    top: 0%;
                    left: 0%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &.responsive-resize {
        .gallery-hover {
            padding-top:22%;
            padding-bottom:6%;

            @media (min-width: 980px) and (max-width: 1199px) {
                padding-top:19%;
                padding-bottom:9%;
            }

            @media (min-width: 768px) and (max-width: 979px) {
                padding-top:35%;
                padding-bottom:10%;
            }

            @media (max-width: 767px) {
                padding-top:35%;
                padding-bottom:15%;
            }

            .div[id^="post"] {
                height:auto;

                .boxey-inner {
                    @media (max-width: 639px) {
                        h2 {
                            font-size: $FontSizeMedium;
                        }
                        .iso-description {
                            padding-top: 0px;
                        }
                    }
                }

                &:hover {
                    .boxey-inner {
                        @media (min-width: 1200px) {
                            -webkit-transform: translate3d(0, -500%, 0);
                            transform: translate3d(0, -500%, 0);
                        }
                        @media (min-width: 980px) and (max-width: 1199px) {
                            -webkit-transform: translate3d(0, -400%, 0);
                            transform: translate3d(0, -400%, 0);
                        }
                        @media (min-width: 640px) and (max-width: 979px) {
                            -webkit-transform: translate3d(0, -300%, 0);
                            transform: translate3d(0, -600%, 0);
                        }
                        @media (max-width: 639px) {
                            -webkit-transform: translate3d(0, -250%, 0);
                            transform: translate3d(0, -400%, 0);
                        }
                    }
                }
            }
        }
    }
       /* add fade in effect, corrects ISO code display on page load
       keyframes set at end of file
     */
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
     -moz-animation: fadeIn ease 2s;
     -o-animation: fadeIn ease 2s;
     -ms-animation: fadeIn ease 2s;
     
     @keyframes fadeIn{
         0% {
           opacity:0;
           visibility:hidden;
         }
         10% {
           opacity:0;
           visibility:hidden;
         }
         100% {
           opacity:1;
           visibility:visible;
         }
       }
       @-moz-keyframes fadeIn {
         0% {
           opacity:0;
           visibility:hidden;
         }
         10% {
           opacity:0;
           visibility:hidden;
         }
         100% {
           opacity:1;
           visibility:visible;
         }
       }
       @-webkit-keyframes fadeIn {
         0% {
           opacity:0;
           visibility:hidden;
         }
         10% {
           opacity:0;
           visibility:hidden;
         }
         100% {
           opacity:1;
           visibility:visible;
         }
       }
       @-o-keyframes fadeIn {
         0% {
           opacity:0;
           visibility:hidden;
         }
         10% {
           opacity:0;
           visibility:hidden;
         }
         100% {
           opacity:1;
           visibility:visible;
         }
       }
       @-ms-keyframes fadeIn {
         0% {
           opacity:0;
           visibility:hidden;
         }
         10% {
           opacity:0;
           visibility:hidden;
         }
        100% {
            opacity:1;
            visibility:visible;
        }
    }
}

.gallery-hover {
    .launch-btn {
        display: none;
    }

    .strategy-application {
        display: none;
    }

    div[id^="post"] {
        // background-color: #f7f7f7;
        margin: 0 0 15px 0;

        &:hover {
            .boxey-inner {
                border: 3px solid #0055b7;
                background-color:#fff;

                .post-title {
                    display: none;
                }
            } //boxey-inner

            .iso-description {
                letter-spacing: 0px;
                font-weight: 500;
                font-style: normal;
                color: #0055b7;
                text-rendering: optimizeLegibility;
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            } //iso-description

            .strategy-application {
                p {
                    font-size: 0.9em;
                    line-height: 1.4em;
                }

                ul {
                    font-size: 1em;

                    > li {
                        margin-left: 0px;
                        font-family: $brand-font;
                        font-size: 0.9em;
                        line-height: 1.4em;
                    }
                }

                .strategy-application-title {
                    color: $accent-color;
                    font-weight: 600; 
                    text-transform: uppercase;
                    font-size: 1.2em;
                    line-height: 30px;
                }
                
                .applications {
                    p {
                        margin: 12px 0 0 0;
                    }
                }
            }  //strategy-application 
        } //hover

        .header-tags, .date, .post-title.media-title>br {
            display: none;
        }
    } // div id post

    .boxey {
        padding-top: 100%; /* keep 1:1 aspect ration for the box */
        margin: 0;
        
        .boxey-inside {
            position: absolute;
            top:0;
            left:0;
            bottom: 0;
            right: 0;

            &:hover {
                z-index: 10;

                .iso-description {
                    padding: 10px;
                }

                .strategy-application {
                    display: block;
                    min-height: 216px;

                    &:after {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        border-top: 3px solid #0055b7;
                        border-right: 3px solid #0055b7;
                    }

                    &:before {
                        display: block;
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        bottom: -5px;
                        left: -5px;
                        border-bottom: 3px solid #0055b7;
                        border-left: 3px solid #0055b7;
                    }

                    .applications-label {
                        margin-top: 0;
                        padding-bottom: 3px;
                    }

                    ul {
                        margin-top: 10px;
                        list-style-type: none;

                        .strategy-priority-icon {
                            margin-left: -200px;
                            margin-top: 15px;

                            @include target-firefox {
                                margin-left: -35px;
                                margin-top: 0px;
                            }

                            @include target-internet-explorer {
                                margin-left: -35px;
                                margin-top: 0px;
                            }
                        }
                    }
                }

                .strategy-description {
                    display: none;
                }

                .boxey-inner {
                    padding: 17px;
                }
            }
        }            
    }

    .boxey-inner {
        min-height: 275px;
        -webkit-transform: translate3d(0, -0%, 0);
        transform: translate3d(0, -0%, 0);
        background: none;
        padding:27px;
        border: 3px solid transparent;

        h3 {
            color:#ffffff;
            font-weight: $FontWeightMedium;
            text-rendering: optimizeLegibility;
            margin: 0 0 10px 0;
        }

        .iso-description {
            p {
                margin: 30px 0 0 0;
            }
            .iso-title {
                height:90px;
            }
        }
    }    
}

.item-hover-effect {
    display:block;
    overflow: hidden;

    .item-hover {
        &:hover {
            opacity: 0.5;
            -webkit-transform: translate3d(0, 0, 0) scale(1.025);
            transform: translate3d(0, 0, 0) scale(1.025);
            -webkit-transition: transform 3s cubic-bezier(0.01, 0.61, 0, 0.99),opacity 0.5s ease-out;
            transition: transform 3s cubic-bezier(0.01, 0.61, 0, 0.99),opacity 0.5s ease-out;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.applications-label::before{ 
    content: "Application of";
}

.applications-label {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.display-hover-or-tap::before{
    content: "Tap";
    @media (min-width: $break-desktop) {
        content: "Hover";
    }
}
