@import '../modules/bg-images';

.full-width-container .grid {
    margin-right: auto;
    margin-left: auto;
}

.grid {
    max-width: 1170px;
}

.grid-tiles {
    width: 218px;
    background-color: $grid-tile-background-color;
    float:left;
    height: 226px;
    /*margin-right: 1.5em;
    margin-bottom: 1.5em;*/
    padding: 15px;

     h3.strategy-title-grid {
        margin-top: 0.9em;
        margin-bottom: 0.8em;
        line-height: 1.2em;
        font-size: 1.5em;
        .strat-label {
            font-size: 0.5em;
        }
    }
}

.titles-column {
    height: 270px;
    margin-top: 0.7em;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;

    @media only screen and (min-width: $break-mobile) {
        height: 100px;
        margin-top: 0;
    }
}

.titles-column-title {
    width: 100%;
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 2%;
    padding-left: 1%;

    &:hover{
        color: $link-color;
    }

    @media only screen and (min-width: $break-mobile) {
        width: 15%;
    }
}

.title-lead-by-example__underline{
    border-bottom: 5px solid $lead-by-example-color;
}
.title-embrace-ambiguity__underline{
    border-bottom: 5px solid $embrace-ambiguity-color;
}
.title-act-with-intention__underline{
    border-bottom: 5px solid $act-with-intention-color;
}
.title-increase-impact__underline{
    border-bottom: 5px solid $increase-impact-color;
}
.title-accelerate-solutions__underline{
    border-bottom: 5px solid $accelerate-solutions-color; 
}

.cursor-pointer {
    cursor: pointer;
}

/* Test CSS for commitments title grid*/
.title-lead-by-example__left{
    border-left: 5px solid $lead-by-example-color;
}
.title-embrace-ambiguity__left{
    border-left: 5px solid $embrace-ambiguity-color;
}
.title-act-with-intention__left{
    border-left: 5px solid $act-with-intention-color;
}
.title-increase-impact__left{
    border-left: 5px solid $increase-impact-color;
}
.title-accelerate-solutions__left{
    border-left: 5px solid $accelerate-solutions-color; 
}

p#lead-by-example, p#embrace-ambiguity, p#act-with-intention,
p#increase-impact, p#accelerate-solutions{
    padding-left: 15px;
    margin-left: -1%;
}

.priority {
    height: 200px;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-top: 1.75em;
    background-size: cover;
    background-position: center center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    color: white;
    background-size: cover;

    &.priority-background-processing-effect-01 {
        background-image: url($bg-processing01);
    }

    &.priority-background-processing-effect-02 {
        background-image: url($bg-processing02);
    }

    &.priority-background-processing-effect-03 {
        background-image: url($bg-processing03);
    }

    &.priority-background-processing-effect-04 {
        background-image: url($bg-processing04);
    }

    &.priority-background-processing-effect-05 {
        background-image: url($bg-processing05);
    }

    &.priority-background-processing-effect-06 {
        background-image: url($bg-processing06);
    }
    
    @media only screen and (min-width: 320px) {
        height: 170px;
    }

    @media only screen and (min-width: $break-mobile) {
        height: 185px;
    }

    @media only screen and (min-width: $break-tablet) {
        height: 130px;
        background-size: 103%;
    }

    &:hover{
        @media only screen and (min-width: $break-tablet) {
            background-size: 120%;
            opacity: 0.85;
        }
    }
}

.priority-icon {
    width: 15%;
    float: left;
}

.priority-section {
    width: 80%;
    float: left;
    margin-left: 5%;
    /*font-size: 0.8em;*/

    p.two-lined-priority-title {
        margin-top: 0.9em;

        @media only screen and (min-width: $break-mobile) {
            margin-top: 1.8em;
        }

        @media only screen and (min-width: $break-mobile) {
            margin-top: 0;
        }
    }

    p.university-priority-title {
        margin-top: 0.9em;
        
        @media only screen and (min-width: 375px) {
            margin-top: 1.8em;
        }

        @media only screen and (min-width: $break-mobile) {
            margin-top: 0;
        }
    }
}

p.priority-description {
    margin-left: -50px;
    font-size: 0.9em;

    @media only screen and (min-width: 320px) {
        margin-top: 1.8em;
        margin-left: -60px;
    }

    @media only screen and (min-width: $break-mobile) {
        margin-top: 0;
        margin-bottom: 5%;
        margin-left: 0;
        font-size: 1em;
    }
}

h3.priority-title {
    margin-top: 5px;
    font-size: 1em;
    line-height: normal;
    color: white;

    @media only screen and (min-width: $break-mobile) {
        margin-top: 0;
        font-size: 1.5em;
        line-height: 30px;
    }
}

.custom-quote-vertical-bar__darkgrey{
    border-left:5px solid $custom-quote-color;
}
    