.full-width-container .grid{
    margin-right:auto;
    margin-left:auto;
}

.grid{
    max-width:1170px;
}

.grid-tiles{
    width: 218px;
    background-color: $grid-tile-background-color;
    float:left;
    height: 226px;
    /*margin-right: 1.5em;
    margin-bottom: 1.5em;*/
    padding: 15px;

     h3.strategy-title-grid {
        margin-top:1em;
        margin-bottom:0.8em;
        line-height:1.4em;
        font-size:1.7em;
        .strat-label {
            font-size:0.6em;
        }
    }
}


/* This belongs to custom css */
.titles-column {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    height:100px;
    @media only screen and (max-width: $break-mobile) {
        height:270px;
        margin-top:10%;
        margin-bottom: 10%;
    }
}
.commitment-title{
    width: 15%;
    float: left;
    margin-right: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    &:hover{
        color: $link-color;
    }
    @media only screen and (max-width: $break-mobile) {
        width: 100%;
    }

}
.title-lead-by-example__underline{
    border-bottom:5px solid $lead-by-example-color;
}
.title-embrace-ambiguity__underline{
    border-bottom:5px solid $embrace-ambiguity-color;
}
.title-act-with-intention__underline{
    border-bottom:5px solid $act-with-intention-color;
}
.title-increase-impact__underline{
    border-bottom:5px solid $increase-impact-color;
}
.title-accelerate-solutions__underline{
    border-bottom:5px solid $accelerate-solutions-color; 
}

.title__cursor-pointer{
    cursor:pointer;
}

/* Test CSS for commitments title grid*/
.title-lead-by-example__left{
    border-left:5px solid $lead-by-example-color;
}
.title-embrace-ambiguity__left{
    border-left:5px solid $embrace-ambiguity-color;
}
.title-act-with-intention__left{
    border-left:5px solid $act-with-intention-color;
}
.title-increase-impact__left{
    border-left:5px solid $increase-impact-color;
}
.title-accelerate-solutions__left{
    border-left:5px solid $accelerate-solutions-color; 
}

.commitment-title__test{
    width: 15%;
    float: left;
    margin-right: 2%;
    margin-top:5%;
    margin-bottom: 5%;
    padding-left:1%;
    &:hover{
        color: $link-color;
    }
    @media only screen and (max-width: $break-mobile) {
        width: 100%;
    }
}

p#lead-by-example, p#embrace-ambiguity, p#act-with-intention,
p#increase-impact, p#accelerate-solutions{
    padding-left:15px;
    margin-left:-1%;
}

/* Priorities test CSS */
.priority{
    height:130px;
    padding-top:4%;
    padding-left:4%;
    padding-right:4%;
    padding-bottom:2%;
    color:white;
    background-image: url(http://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/priority-background-cropped.jpg);

    @media only screen and (max-width: $break-mobile) {
        height: 170px;
    }
    @media only screen and (max-width: 320px) {
        height: 200px;
    }
  }
   .priority-icon{
    width:15%;
    float:left;
  }
  .priority-section{
    width:80%;
    float:left;
    margin-left:5%;
    font-size:0.9em;
  }
  h3.priority-title{
    margin-top:0;
    color:white;
    @media only screen and (max-width: $break-mobile) {
        font-size: 16px;
        line-height: normal;
        margin-top: 5px;
    }
    @media only screen and (max-width: $break-mobile) {
        font-size: 16px;
    }
  }
  p.priority-description{
    margin-top:0;
    margin-bottom:5%;
    @media only screen and (max-width: $break-mobile) {
        margin-top: 2.5em;
        margin-left: -60px;
    }
    @media only screen and (max-width: 320px) {
        margin-left: -50px;
    }
  }

  p.two-lined-priority-title{
    @media only screen and (max-width: 375px) {
        margin-top: 1.25em;
    }
  }
  
  .vertical-bar__darkgrey{
    border-left:10px solid $priority-mission-color;
  }
  
  .vertical-bar__lightgrey{
    border-left:10px solid $priority-vision-color;
  }

  .custom-quote-vertical-bar__darkgrey{
      border-left:5px solid $custom-quote-color;
  }

  .link__underline{
      border-bottom:1px solid #fff;
      &:hover {
        border-bottom:none;
    }
  }

  
    