@import '../modules/fonts';
@import '../modules/breakpoints';
@import '../modules/container';

.entry-content {
	.iso-team__show-description {
		margin-bottom: 2em;
		
		p {
			margin: 0;
		}
	}
}

.iso {
    .header-tags, .date {
        display:none;
	}
    .boxey {
        .launch-btn {
            display:none;
        }

        .boxey-inner {
			height: 226px;
			
			a {
			   color:$accent-color;
			   cursor: default;
			   pointer-events:none;
			}

	    	h1, h2, h3, h4, h5, h6 {
	    		font-family: $brand-font; 
				margin-top: 20px;

				&.post-title.media-title {
					line-height:0.9em;
					margin-top:0.9em;
					margin-bottom:0;
				}
			}
    	}
    }
}

.iso-container {
	&.hidden-navbar, &.hide-navbar {
		.navbar {
			display:none;
		}
	}
	.iso-nav {
		padding: 0px;

		@media only screen and (min-width: $break-laptop) {
	    	width: 815px;
			margin-left: auto;
			margin-right: auto;

			.services-menu a {
				font-size: 12px;
			}
		}

		.services-menu {
			@media only screen and (min-width: $break-mobile) {
	            height: auto !important;
	        }

	        a:hover {
				background: $brand-color;
				color: #ffffff;

				.s-1-150x150-black-white-university-for-the-future {
					background-position: 0 0;
				}
				.s-2-150x150-black-white-future-of-work {
					background-position: -150px 0;
				}
				.s-3-150x150-black-white-inclusive-leadership {
					background-position: -300px 0;
				}
				.s-4-150x150-black-white-solutions-for-people {
					background-position: -450px -0;
				}
				.s-5-150x150-black-white-thriving-cities {
					background-position: -600px 0;
				}
				.s-6-150x150-black-white-planetary-health {
					background-position: -750px 0;
				}
			}

			a.current, a:active, a:focus {
				background: $diagonal-brand-to-accent-gradient;
				color: #ffffff;

				.s-1-150x150-black-white-university-for-the-future {
					background-position: 0 0;
				}
				.s-2-150x150-black-white-future-of-work {
					background-position: -150px 0;
				}
				.s-3-150x150-black-white-inclusive-leadership {
					background-position: -300px 0;
				}
				.s-4-150x150-black-white-solutions-for-people {
					background-position: -450px -0;
				}
				.s-5-150x150-black-white-thriving-cities {
					background-position: -600px 0;
				}
				.s-6-150x150-black-white-planetary-health {
					background-position: -750px 0;
				}
			}
		}
	}

	.boxey {
		.boxey-inner {
			.iso-description {
				padding-bottom:5px;

				.strategy-description {
					color: #ffffff;
				}

				.strategy-application {
					display: none;
				}

				p {
					margin-top: 0px;
				}
			}
		}
	}

	.block {
		.boxey-inside {
			background-image: url(https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/strategy-square-blue-gradient.png);
		}
	}
}

.iso_shortcode {
	a, h1, h2, h3, h4, h5, h6 {
		font-family: $brand-font;
	}
	p {
		font-family: $brand-font;
		font-size: 1.05em;
	}
}

.iso-links {
	text-align: center;
}

.iso-title {
	font-family: $brand-font;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 1.5em;
	margin-bottom: 1em;

	.strat-label {
		position: absolute;
		right: 5px;
		top: 115px;
		font-size: 8em;
		font-weight: 900;
		color: #ffffff;
		opacity: 0.25;
	}
}

.filter-wrapper {
	width: 100%;
	overflow: hidden;
	margin-left: 0px;
	text-align: left;

	@media (min-width: $break-tablet) {
        text-align: center;
    }

	li {
		display: block;

		@media (min-width: $break-tablet) {
            display: inline-block;
        }

		a {
			display: block;
			padding: 10px;
		    font-size: 12px;
		    font-weight: 400;
		    text-decoration: none;
		    border-bottom: 1px solid #CCC;
		    color: #101010;
		    
		    @media (min-width: $break-tablet) {
	            border: none;
	        }		    
		}

		a:hover {
			background: $brand-color;
			color: #ffffff;

			.s-1-150x150-black-white-university-for-the-future {
				background-position: 0 0;
			}
			.s-2-150x150-black-white-future-of-work {
				background-position: -150px 0;
			}
			.s-3-150x150-black-white-inclusive-leadership {
				background-position: -300px 0;
			}
			.s-4-150x150-black-white-solutions-for-people {
				background-position: -450px -0;
			}
			.s-5-150x150-black-white-thriving-cities {
				background-position: -600px 0;
			}
			.s-6-150x150-black-white-planetary-health {
				background-position: -750px 0;
			}
		}

		a.selected, a:active, a:focus {
			background: $diagonal-brand-to-accent-gradient;
			color: #ffffff;

			.s-1-150x150-black-white-university-for-the-future {
				background-position: 0 0;
			}
			.s-2-150x150-black-white-future-of-work {
				background-position: -150px 0;
			}
			.s-3-150x150-black-white-inclusive-leadership {
				background-position: -300px 0;
			}
			.s-4-150x150-black-white-solutions-for-people {
				background-position: -450px -0;
			}
			.s-5-150x150-black-white-thriving-cities {
				background-position: -600px 0;
			}
			.s-6-150x150-black-white-planetary-health {
				background-position: -750px 0;
			}
		}
	}
}

.iso-box-section {
	width: 100%;

	.iso-box-wrapper {
		position: relative;
		width: 100%;
		padding: 0;
		clear: both;
		
		.iso-box {
			position: relative;
			display: table;
			min-height: 50px;
			float: left;
			margin-bottom: 25px;
			box-sizing: border-box;
			padding: 0 15px;
			
			.iso-trend, .iso-uncertainty {
				p {
					line-height: 1.22em;
				}
			}
			
			.iso-grid {
				background-color: $iso-hover-background-color;
				color: $accent-color;
			}

			.iso-trend {
				background-color: $iso-trend-color;
				color: #ffffff;
			}

			.iso-uncertainty {
				background-color: $iso-uncertainty-color;
				color: #ffffff;
			}

			.iso-team {
				border: 3px solid $accent-color;
			}
		}
	}
}

.page-id-430 {
	.iso-box-wrapper {
		width: 254px;
		margin: 0 auto;

		@media (min-width: $break-mobile) {
            width: 100%;
			margin: 0;
        }
	}
}

.iso-team__content {
    display: block;
    min-height: 180px;
    padding: 5%;

    &:after {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        top: 16px;
        right: -7px;
        border-top: 3px solid $accent-color;
        border-right: 3px solid $accent-color;

        @media (min-width: $break-mobile) {
        	right: -5px;
        }

        @media (min-width: 1150px) {
        	right: 9px;
        }
    }

    &:before {
        display: block;
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 14px;
        left: 31px;
        border-bottom: 3px solid $accent-color;
        border-left: 3px solid $accent-color;

        @media (min-width: $break-mobile) {
        	bottom: 17px;
        }
    }
}

.iso-trends-uncertainties {
	max-width: 1170px;

	.iso-grid {
		margin: 0 auto;
		height: 180px;
		width: 180px;
		padding: 10%;

		@media (min-width: $break-mobile) {
            margin: 0;
        }

		p {
			margin-top: 0;
		}

		.iso-grid-title {
			font-size: 0.8em;
			font-weight: 600;
		}
	}

	.iso-team {
		p {
			margin-top: 1.3em;
			font-size: 0.9em;
		}

		.iso-grid-title {
			font-size: 1.1em;
		}
	}

	ul {
		margin-top: 10px;
		margin-left: 0;
		margin-bottom: 0;

		>li {
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
}

.page-our-journey > .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 815px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 479px) {
	.col-sm-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.iso-box-title {
		border-radius: 50%;
	}
}    

@media (min-width: 576px) {
	.col-sm-6 {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}

	.col-md-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md-4 {
	    flex: 0 0 33%;
	    max-width: 33%;
	}

	.col-md-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}
