@import '../modules/fonts';
@import '../modules/breakpoints';
@import '../modules/container';

.iso {
    .header-tags, .date {
        display:none;
	}
    .boxey {
    /*
        max-width:240px;
        height:200px; doesn't work

    */
        .launch-btn {
            display:none;
        }

        .boxey-inner {
			height: 226px;
			
			a {
			   color:$accent-color;
			   cursor: default;
			   pointer-events:none;
			}

			/*border-top:5px #ccc solid*/
	    	h1, h2, h3, h4, h5, h6 {
	    		font-family: $brand-font; 
				margin-top: 20px;

				&.post-title.media-title {
					line-height:1em;
					margin-top:1em;
					margin-bottom:0;
				}
			}
    	}
    }
}

.iso-container {
	&.hidden-navbar, &.hide-navbar {
		.navbar {
			display:none;
		}
	}
	.iso-nav {
		padding: 0px;

		@media only screen and (min-width: $break-laptop) {
	    	width: $content-width;
			margin-left: auto;
			margin-right: auto;

			.services-menu a {
				font-size: 12px;
			}
		}

		.services-menu {
			@media only screen and (min-width: $break-mobile) {
	            height: auto !important;
	        }

	        a:hover {
				background: $brand-color;
				color: #ffffff,
			}

			a.current, a:active, a:focus {
				background: $diagonal-brand-to-accent-gradient;
				color: #ffffff;
			}
		}
	}

	.boxey {
		.boxey-inner {
			.iso-description {
			    /*margin:0 5px 5px;*/
				padding-bottom:5px;

				.strategy-description {
					color: #ffffff;
				}

				.strategy-application {
					display: none;
				}

				p {
					margin-top: 0px;
				}
			}
		}
	}

	.block {
		.boxey-inside {
			background-image: url(http://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/strategy-square-blue-gradient.png);
		}
	}
}


.iso_shortcode {
	a, h1, h2, h3, h4, h5, h6 {
		font-family: $brand-font;
	}
	p {
		font-family: $brand-font;
		font-size: 1.2em;
	}
}

.iso-links {
	text-align: center;

    a {
        text-transform:uppercase;
    }
}

.iso-title {
	font-family: $brand-font;
	font-size:0.8em;
	font-weight:600;
	/*color:$accent-color;*/
	.strat-label {
		&:before {
			content:"Strategy #";
		}
		font-size:0.65em;
		font-weight:100;
		text-transform: uppercase;
		/*color:$accent-color;*/
		color: #ffffff;
	}

}

.filter-wrapper {
	width: 100%;
	overflow: hidden;
	margin-left: 0px;

	@media (max-width: $break-mobile) {
        text-align: left !important;
    }

	li {
		display: inline-block;
		/*margin: 4px;*/

		@media (max-width: $break-mobile) {
            display: block;
        }

		a {
			color: #101010;
		    font-size: 12px;
		    font-weight: 400;
		    /*letter-spacing: 2px;*/
		    padding: 10px;
		    /*
		    margin-right: 2px;
		    margin-left: 2px;
		    */
		    text-transform: uppercase;
		    display: block;
		    text-decoration: none;
		    
		    @media (max-width: $break-mobile) {
	            border-bottom: 1px solid #CCC;
	        }
		    
		    /*transition: all 0.4s ease-in-out;*/
		}
		/*
		a:active {
			background: #001245 !important;
		}

		a:hover, a:focus {
			background: #001245;
			color: #ffffff;
		}*/

		a:hover {
			background: $brand-color;
			color: #ffffff,
		}

		a.selected, a:active, a:focus {
			background: $diagonal-brand-to-accent-gradient;
			color: #ffffff;
		}
	}
}

.iso-box-section {
	width: 100%;

	.iso-box-wrapper {
		width: 100%;
		padding: 0;
		clear: both;
		position: relative;

		.iso-box {
			position: relative;
			min-height: 50px;
			float: left;
			/*overflow: hidden;*/
			margin-bottom: 25px;
			box-sizing: border-box;
			padding: 0 15px;
			display: table;

			.iso-box-title {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				padding: 5px;
				border-radius: 30%;
				/*height: 95px;*/
				height: 110px;
				width: 110px;
				border-radius: 50%;
				border-top-right-radius: 0;
				transform: rotate(45deg);

				.iso-tear-title {
					display: inline-block;
					transform: rotate(-45deg);
				}

				@media only screen and (max-width: $break-mobile) {
            		height: 125px;
        		}
        		@media only screen and (max-width: 320px) {
            		height: 99px;
            		font-size: 11px;
        		}
			}

			.iso-trend {
				background-color: #4fabb0;
			}

			.iso-uncertainty {
				background-color: #ace3c3;
			}
		}
	}
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 479px) {
	.col-sm-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.iso-box-title {
		border-radius: 50%;
	}
}    

@media (min-width: 576px) {
	.col-sm-6 {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}

	.col-md-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md-4 {
	    flex: 0 0 33%;
	    max-width: 33%;
	}

	.col-md-12 {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}