entry-content {
    * {
        max-width:770px;  
        margin-left:auto;
        margin-right:auto;
        padding-left:20px;
        padding-right:20px;
    }
}

h1 {
    page-title {
        max-width:770px;  
        margin-left:auto;
        margin-right:auto;
        padding-left:20px;
        padding-right:20px;
    }
}