@import '../modules/container';

.entry-content > {
    * {
        max-width: $content-width;  
        margin-left:auto;
        margin-right:auto;
        @media only screen and (min-width: $break-mobile) {
            padding-left:20px;
            padding-right:20px;    
        }
    }

    .iso-container {
        max-width: $container-size;
        margin-top: 2em;
    }

    .boxey-inside {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.single-post {
    .post-title, .navigation-links {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
    }
}

h1 {
    &.page-title {
        max-width: $content-width;  
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: $break-mobile) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

[class^="icon-"], [class*=" icon-"] {
    font-family: $brand-font;
}

.full-width .full-width-container .breadcrumb {
    max-width: $container-size;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: $break-mobile) {
        margin-right: -20px;
        margin-left: -20px;   
    }
}

.featured-header-photo {
    max-height: $cover-photo-height;
    overflow: hidden;
    @media only screen and (max-width: $break-laptop) {
        margin-left: -20px;
        margin-right: -20px;
    }  
}

.featured-image {
    @media only screen and (max-width: $break-tablet) {
        object-fit: cover;
        height: 500px;
    } 

    @media only screen and (max-width: $break-mobile) {
        height: 200px;
    } 
}

.cover-photo {
    height: $cover-photo-height;
    margin: 0;
    background-position: 50% 50%; /*does not work*/
    background-size: cover;
    position: relative;
    @media only screen and (max-width: $break-mobile) {
        height: 200px;
    }    
}

#section-5 {
    @media only screen and (max-width: $break-tablet) {
        margin-left: -20px;
        margin-right: -20px;
    }
}