@import '../modules/container';

.entry-content > {
    * {
        max-width: $content-width;  
        margin-left:auto;
        margin-right:auto;
        @media only screen and (min-width: $break-mobile) {
            padding-left:20px;
            padding-right:20px;    
        }
    }

    .iso-container {
        max-width: $container-size;
        margin-top: 2em;
    }

    .boxey-inside {
        padding-left: 0px;
        padding-right: 0px;
    }

    .flexslider {
        max-width: $container-size;
        margin-top: 2em;

        ul {
            list-style-type: none;
            font-size: 1em;
        }

        ul, ol {
            > li {
                line-height: 1em;
                margin-left: 0px; 
                margin-bottom: 0px;
            }
        }
    }
}

.single-post {
    .post-title, .navigation-links {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
    }
}

.flexslider {

    .carousel-caption {
        background-image: linear-gradient(to bottom right, $brand-color, $accent-color); 

        @media only screen and (max-width: $break-tablet) {
            height: 180px !important;  
        }

        p {
            max-width: 1000px;

            @media only screen and (max-width: $break-mobile) {
                display: block; 
                font-size: 1em; 
            }
        }
    }
}

h1 {
    &.page-title {
        max-width: $content-width;  
        margin-left: auto;
        margin-right: auto;
        @media only screen and (min-width: $break-mobile) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

[class^="icon-"], [class*=" icon-"] {
    font-family: $brand-font;
}

.priority-icons {
    .icon-label-set {
        img {
            margin-bottom: 20px;

            @media only screen and (max-width: $break-mobile) {
                width: 100px;
                float: left;
            }
        }

        @media only screen and (max-width: $break-mobile) {
            .icon-label-text {
                padding-left: 10px;
            }
        }
    }
    .span4 {
        text-align: center;

        @media only screen and (max-width: $break-tablet) {
            float: left;
        }
    }
}

.full-width .full-width-container .breadcrumb {
    max-width: $container-size;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (max-width: $break-mobile) {
        margin-right: -20px;
        margin-left: -20px;   
    }
}

.featured-header-photo {
    max-height: $cover-photo-height;
    overflow: hidden;
    @media only screen and (max-width: $break-laptop) {
        margin-left: -20px;
        margin-right: -20px;
    }  
}

.featured-image {
    @media only screen and (max-width: $break-tablet) {
        object-fit: cover;
        height: 500px;
    } 

    @media only screen and (max-width: $break-mobile) {
        height: 200px;
    } 
}

.cover-photo {
    height: $cover-photo-height;
    margin: 0;
    background-position: 50% 50%; /*does not work*/
    background-size: cover;
    position: relative;
    @media only screen and (max-width: $break-mobile) {
        height: 200px;
    }    
}

#section-5 {
    @media only screen and (max-width: $break-tablet) {
        margin-left: -20px;
        margin-right: -20px;
    }
}