.entry-content  {
    .section--full-width {
        max-width: 100%;
        padding: 0.9em;
        margin: 3.5em -15px 3.5em -15px;

        > * {
            max-width: 770px;
            margin-left:auto;
            margin-right:auto;
        }

        .column-header {
            margin-top: 0.9em;
        }
    }

    .section--custom-full-width {
        max-width: 100%;
        padding: 0.9em;
        margin: 3.5em -15px 3.5em -15px;

        > * {
            max-width: 810px; /* Adjust custom width */
            margin-left:auto;
            margin-right:auto;
        }

        .column-header {
            margin-top: 0.9em;
        }
    }

    @media (max-width: $break-tablet) {
        .process-mobile .span5 {
            display: none;
        }
        
        .process-block {
            margin: 0;
            padding: 0;

            &:first-of-type {
                margin-top: 3.5em;
            }

            .block-section--grey,
            .block-section--white {
                margin-left: -20px;
                margin-right: -20px;
                padding-bottom: 1.3em;
            }
        }
    }
}

.statistic {
    font-size: 4.4em;
    line-height: 1.3em;
    font-weight: 600;
    color: $accent-color;

    .statistic-title__text {
        font-size: 0.4em;
        vertical-align: bottom;
    }

    .statistic-title__text--line-break {
        display:inline-block;
        width: 60%;
        line-height: normal;
        vertical-align:baseline;
        text-align:left;

        @media (min-width: $break-mobile) {
            width: 30%;
        }
    }
    .statistic, .statistic__label {
        text-align: center;
    }
}

.block-section--grey,
.block-section--white {
    p:empty {
        display: none;
    }

    br {
        display: none;
    }
}

.block-section--grey {
    background-color: $block-quote-background-color;
}

.block-section__content {
    padding: 0 1.3em;

    @media (min-width: $break-mobile) {
        padding: 0 1.6em;
    }

    @media (min-width: $break-tablet) {
        padding: 0;
    }
}

.block-section__image {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;

    @media (min-width: $break-mobile) {
        min-height: 250px;
    }

    @media (min-width: $break-tablet) {
        margin: 30px 1.3em 0 0;
    }
}

.block-section__title h2 {
    margin-top: 0.9em;

    @media (min-width: $break-tablet) {
        margin-top: 20px;
    }
}

/* Custom to strat plan*/
@media only screen and (max-width: $break-mobile) {
    #outcomes1 {
        text-align:center;
    }
}
