.entry-content  {
    .section--full-width {
        max-width: 100%;
        padding: 0.9em;
        margin: 3.5em -15px 3.5em -15px;

        > * {
            max-width: 770px;
            margin-left:auto;
            margin-right:auto;
        }

        .column-header {
            margin-top: 0.9em;
        }
    }

    .section--custom-full-width {
        max-width: 100%;
        padding: 0.9em;
        margin: 3.5em -15px 3.5em -15px;

        > * {
            max-width: 810px; /* Adjust custom width */
            margin-left:auto;
            margin-right:auto;
        }

        .column-header {
            margin-top: 0.9em;
        }
    }

    @media (max-width: $break-tablet) {
        .process-mobile .span5 {
            display: none;
        }
        
        .process-block {
            margin: 0;
            padding: 0;

            &:first-of-type {
                margin-top: 3.5em;
            }

            .block-section--grey,
            .block-section--white {
                margin-left: -20px;
                margin-right: -20px;
                padding-bottom: 1.3em;

                .banner__content {
                    padding: 0 1.6em;

                    @media (max-width: $break-mobile) {
                        padding: 0 1.3em;
                    }
                }
            }
        }

        .grey-background {
            .block-section--grey {
                background-color: $block-quote-background-color;
            }
        }
    }
}

.statistic {
    font-size: 4.4em;
    line-height: 1.3em;
    font-weight: 600;
    color: $accent-color;

    .statistic-title__text {
        font-size: 0.4em;
        vertical-align: bottom;
    }

    .statistic-title__text--line-break {
        display:inline-block;
        width: 60%;
        line-height: normal;
        vertical-align:baseline;
        text-align:left;

        @media (min-width: $break-mobile) {
            width: 30%;
        }
    }
    .statistic, .statistic__label {
        text-align: center;
    }
}

.block--image-and-text-banner {
    p:empty {
        display: none;
    }

    br {
        display: none;
    }
}

.banner__image {
    min-height: 250px;
    /*width: 600px;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 1.3em 0 0;

    @media (max-width: $break-mobile) {
        min-height: 300px;
    }
}

.process-block {
    h2.block-title {
        margin-top: 20px;

        @media (max-width: $break-tablet) {
            margin-top: 0.9em;
        }
    }

    .banner__image {
        margin-top: 30px;

        @media (max-width: $break-tablet) {
            margin: 0;
        }
    }

    @media (max-width: $break-tablet) {
        margin: 0;
    }
}

.callout-block {
    color: $accent-color;
    background-color: $block-quote-background-color; 
    background-image: url(https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/quotes-background.png);
    background-repeat:no-repeat;
    background-size: cover;
    
    @media (max-width: $break-mobile) {
        .row-fluid [class*="span"] {
            min-height: 0px;
        }
    }

    .block--image-and-text-banner {
        max-width: 1170px;
        margin: 0 auto;

        .span5, .span7 {
            p {
                display: none;
            } 
        }

        .banner__image {
            @media (max-width: $break-mobile) {
                margin: 0;
            }
        }

        .banner__content {
            padding: 20px;
            @media (max-width: $break-mobile) {
                padding: 0 10% 10% 10%;
            }
        }

        .show-mobile {
            margin-top: 0;
        }

        .show-laptop {
            margin: 0 0 0 1.3em;
        }
    }

    .callout-image-right {
        .banner__content {
            padding-right: 0;
            margin-left: 1.3em;

            @media (max-width: $break-mobile) {
                margin-left: 0;
                padding: 0 10% 10% 10%;
            }
        }
    }

    .callout-image-left {
        .span7 {
            margin-left: 0;
        }
    }
    
    .block__title {
        color: $accent-color;
        font-size: 1.6em;
        line-height: 1.1em;
        font-weight: 600;
        margin: 0.9em 0; 
    }
}

.entry-content .callout-block {
    max-width:1161px; /*to align with the strategy boxes*/
    /* margin: 4em -15px 4em -15px;*/
    padding-left: 0;
    padding-right: 0;
}

/* Custom to strat plan*/
@media only screen and (max-width: $break-mobile) {
    #outcomes1{
        text-align:center;
    }
    }