.entry-content  {
    .section {
		&--full-width {
			max-width: 100%;
			padding: 0.9em;
			margin: 3.5em -15px 3.5em -15px;

			> * {
				max-width: 770px;
				margin-left:auto;
				margin-right:auto;
			}

			.block-section--grey,
			.block-section--white {
				margin-left: -20px;
				margin-right: -20px;

				@media only screen and (min-width: $break-tablet) {
					margin-left: auto;
					margin-right: auto;
				} 
			}

			.column-header {
				color:$col-header-color;
				margin-top: 0.9em;
				text-transform:uppercase;
			}
		}
		&--custom-full-width {
			max-width: 100%;
			padding: 0.9em;
			margin: 3.5em -15px 3.5em -15px;

			> * {
				max-width: 810px; /* Adjust custom width */
				margin-left:auto;
				margin-right:auto;
			}

			.column-header {
				color:$col-header-color;
				margin-top: 0.9em;
				text-transform:uppercase;
			}
		}
		&--wide{
			margin: 0 -20px;
			@media only screen and (min-width: 768px) {
					position:relative;
					display:flex;
					margin: 0 auto;
			}
		}
	}

    .process-block {
        margin: 0;
        padding: 0;

        &:first-of-type {
            margin-top: 3.5em;
        }

        @media only screen and (min-width: $break-tablet) {
            //margin: 3.5em -15px 3.5em -15px;
            //padding: 0.9em;
            margin: 0 -15px;
            padding: 0 0.9em;
        }

        .span5 p {
            display: none;
        }

        .span7 {
            p {
                display: none;
            }

            .block-section__content p {
                display: block;
            }
        }
    }
	
	.emphasis_block {
		margin-top: 3.5em;
		margin-bottom: 3.5em;
		padding: 60px;
		border: none;
		color: white;
		background: $brand-color;
		&-left {
			margin-left: -5%;
			margin-right: 20px;
			@media only screen and (min-width: 980px) {
				margin-left: -13%;
			}
			@media only screen and (min-width: 1130px) {
				margin-left: -180px;
			}
		}
		&-right {
			margin-right: -5%;
			margin-left: 20px;
			@media only screen and (min-width: 980px) {
				margin-right: -13%;
			}
			@media only screen and (min-width: 1130px) {
				margin-right: -180px;
			}
		}
		&--wide {
			margin-right: -20px;
			margin-left: -20px;
			font-size:14px;
			@media only screen and (min-width: 980px) {
				padding:5em 8em 5em 8em;
				margin: 6em -8em 3em -8em;
			}
		}
		h2 {
			font-size:1.2rem;
			color:#FFFFFF;
			margin-top:0px;
			font-weight:100;
			text-transform:uppercase;
			@media only screen and (min-width: 768px) {
				font-size: 1.5em;
			}
		}
		h3 {
			font-size:1.5rem;
			margin-top:20px;
			line-height: 1.5em;
			@media only screen and (min-width: 768px) {
				font-size: 1.8rem;
				line-height: 2.3rem;
			}
		}
		 p {
			color: $pms-298-blue;
			text-transform:uppercase;
		}
		 .title__underline-narrow{
			margin-bottom:60px;
			&:after{
				display: block;
				position: relative;
				top: 40px;
				width: 2.36em;
				content: '';
				border-bottom: 4px solid #FFF;
			}
		}
	}
}

.process-mobile .span5 {
    display: none;

    @media only screen and (min-width: $break-tablet) {
        display: block;
    }
}

.statistic {
    font-size: 4.4em;
    line-height: 1.3em;
    font-weight: 600;
    color: $accent-color;

    .statistic-title__text {
        font-size: 0.4em;
        vertical-align: bottom;
    }

    .statistic-title__text--line-break {
        display:inline-block;
        width: 60%;
        line-height: normal;
        vertical-align:baseline;
        text-align:left;

        @media only screen and (min-width: $break-mobile) {
            width: 30%;
        }
    }
    .statistic, .statistic__label {
        text-align: center;
    }
}

.block-section--grey,
.block-section--white {
    padding-bottom: 1.3em;

    p:empty {
        display: none;
    }

    br {
        display: none;
    }

    @media only screen and (min-width: $break-tablet) {
        padding: 0;
    } 
}

.block-section--grey {
    background-color: $block-quote-background-color;
}

.block-section__content {
    padding: 0 1.3em;

    @media only screen and (min-width: $break-mobile) {
        padding: 0 2em;
    }

    @media only screen and (min-width: $break-tablet) {
        //padding: 0.9em 0;
        padding: 0.9em 0 1.3em 0;
    }
}

.block-section__image {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;

    @media only screen and (min-width: $break-mobile) {
        min-height: 382px;
    }

    @media only screen and (min-width: $break-tablet) {
        //margin: 30px 1.3em 0 0;
        margin-right: 1.3em;
    }
}

.block-section__title h2 {
    margin-top: 0.9em;

    @media only screen and (min-width: $break-tablet) {
        margin-top: 20px;
    }
}

/* Custom to strat plan*/
#outcomes1 {
    text-align: center;

    @media only screen and (min-width: $break-mobile) {
        text-align: left;
    }
}
