.s-1-150x150-white-blue-university-for-the-future, .s-2-150x150-white-blue-future-of-work, .s-3-150x150-white-blue-inclusive-leadership, .s-4-150x150-white-blue-solutions-for-people, .s-5-150x150-white-blue-thriving-cities, .s-6-150x150-white-blue-planetary-health, .s-1-150x150-black-white-university-for-the-future, .s-2-150x150-black-white-future-of-work, .s-3-150x150-black-white-inclusive-leadership, .s-4-150x150-black-white-solutions-for-people, .s-5-150x150-black-white-thriving-cities, .s-6-150x150-black-white-planetary-health{
	background: url(https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/sprites.png) no-repeat;
	padding:0;
}

.s-1-150x150-white-blue-university-for-the-future {
	background-position: 0 0;
	width: 150px;
	height: 150px;
}

.s-2-150x150-white-blue-future-of-work {
	background-position: -150px 0;
	width: 150px;
	height: 150px;
}

.s-3-150x150-white-blue-inclusive-leadership {
	background-position: -300px 0;
	width: 150px;
	height: 150px;
}

.s-4-150x150-white-blue-solutions-for-people {
	background-position: -450px 0;
	width: 150px;
	height: 150px;
}

.s-5-150x150-white-blue-thriving-cities {
	background-position: -600px 0;
	width: 150px;
	height: 150px;
}

.s-6-150x150-white-blue-planetary-health {
	background-position: -750px 0;
	width: 150px;
	height: 150px;
}

.s-1-150x150-black-white-university-for-the-future {
	background-position: 0 -150px ;
	width: 150px;
	height: 150px;
}

.s-2-150x150-black-white-future-of-work {
	background-position: -150px -150px ;
	width: 150px;
	height: 150px;
}

.s-3-150x150-black-white-inclusive-leadership {
	background-position: -300px -150px ;
	width: 150px;
	height: 150px;
}

.s-4-150x150-black-white-solutions-for-people {
	background-position: -450px -150px ;
	width: 150px;
	height: 150px;
}

.s-5-150x150-black-white-thriving-cities {
	background-position: -600px -150px ;
	width: 150px;
	height: 150px;
}

.s-6-150x150-black-white-planetary-health {
	background-position: -750px -150px ;
	width: 150px;
	height: 150px;
}

.sprite-icon-large {
	position: absolute;
	-moz-transform: scale(1);
	transform-origin: left top;
	zoom:1;
	margin-right: 15px;
	float:left;
}

.s-icon-medium {
	position: absolute;
	-moz-transform: scale(0.3);
	transform-origin: left top;
	zoom:0.3;
	margin-right: 50px;
	float:left;
}

.s-icon-small {
	position: absolute;
	-moz-transform: scale(0.15);
	transform-origin: left top;
	zoom:0.15;
	margin-right: 25px;
	float:left;
}

/* Priorities Menu */
#menu-item-306 .s-icon-medium{
	-moz-transform: scale(0.15);
	transform-origin: left top;
	zoom:0.15;
	margin-right: 80px;
}

/* Test Page Strategies Menu */
#menu-item-1572 .s-icon-medium {
	-moz-transform: scale(0.15);
	transform-origin: left top;
	zoom:0.15;
	margin-right: 80px;
}
#menu-item-1572 .dropdown-menu>li>a {
	padding-right: 50px;
}

.dropdown-menu {
	.menu-item-402 {
		a:hover {
			.s-icon-medium {
				background-position: 0 0;
			}
		}
	}

	.menu-item-730 {
		a:hover {
			.s-icon-medium {
				background-position: -150px 0;
			}
		}
	}

	.menu-item-1576 {
		a:hover {
			.s-icon-medium {
				background-position: -300px 0;
			}
		}
	}

	.menu-item-720 {
		a:hover {
			.s-icon-medium {
				background-position: -450px 0;
			}
		}
	}

	.menu-item-727 {
		a:hover {
			.s-icon-medium {
				background-position: -600px 0;
			}
		}
	}

	.menu-item-726 {
		a:hover {
			.s-icon-medium {
				background-position: -750px 0;
			}
		}
	}
}
