.s-1-150x150-white-blue-university-for-the-future, .s-2-150x150-white-blue-future-of-work, .s-3-150x150-white-blue-inclusive-leadership, .s-4-150x150-white-blue-solutions-for-people, .s-5-150x150-white-blue-thriving-cities, .s-6-150x150-white-blue-planetary-health, .s-1-150x150-black-white-university-for-the-future, .s-2-150x150-black-white-future-of-work, .s-3-150x150-black-white-inclusive-leadership, .s-4-150x150-black-white-solutions-for-people, .s-5-150x150-black-white-thriving-cities, .s-6-150x150-black-white-planetary-health{
	background: url(https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/03/sprites.png) no-repeat;
	padding:0;
}

.s-1-150x150-white-blue-university-for-the-future{
	background-position: 0 0;
	width: 150px;
	height: 150px;
}

.s-2-150x150-white-blue-future-of-work{
	background-position: -150px 0;
	width: 150px;
	height: 150px;
}

.s-3-150x150-white-blue-inclusive-leadership{
	background-position: -300px 0;
	width: 150px;
	height: 150px;
}

.s-4-150x150-white-blue-solutions-for-people{
	background-position: -450px 0;
	width: 150px;
	height: 150px;
}

.s-5-150x150-white-blue-thriving-cities{
	background-position: -600px 0;
	width: 150px;
	height: 150px;
}

.s-6-150x150-white-blue-planetary-health{
	background-position: -750px 0;
	width: 150px;
	height: 150px;
}

.s-1-150x150-black-white-university-for-the-future{
	background-position: 0 -150px ;
	width: 150px;
	height: 150px;
}

.s-2-150x150-black-white-future-of-work{
	background-position: -150px -150px ;
	width: 150px;
	height: 150px;
}

.s-3-150x150-black-white-inclusive-leadership{
	background-position: -300px -150px ;
	width: 150px;
	height: 150px;
}

.s-4-150x150-black-white-solutions-for-people{
	background-position: -450px -150px ;
	width: 150px;
	height: 150px;
}

.s-5-150x150-black-white-thriving-cities{
	background-position: -600px -150px ;
	width: 150px;
	height: 150px;
}

.s-6-150x150-black-white-planetary-health{
	background-position: -750px -150px ;
	width: 150px;
	height: 150px;
}

.s-icon-small{
	zoom:0.1;
	margin-right: 15px;
	float:left;
}

.s-icon-medium{
	zoom:0.3;
	margin-right: 15px;
	float:left;
}

.sprite-icon-large{
	zoom:1;
	margin-right: 15px;
	float:left;
}

