$bg-processing01: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-01.png";
$bg-processing02: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-02.png";
$bg-processing03: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-03.png";
$bg-processing04: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-04.png";
$bg-processing05: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-05.png";
$bg-processing06: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-06.png";

/* Sprites */
$s1-background-position-white: 0 0;
$s2-background-position-white: -100px 0;
$s3-background-position-white: -200px 0;
$s4-background-position-white: -300px 0;
$s5-background-position-white: -400px 0;
$s6-background-position-white: -500px 0;

$s1-background-position-navy: 0 -100px;
$s2-background-position-navy: -100px -100px;
$s3-background-position-navy: -200px -100px;
$s4-background-position-navy: -300px -100px;
$s5-background-position-navy: -400px -100px;
$s6-background-position-navy: -500px -100px;

$s1-background-position-accentblue: 0 -200px;
$s2-background-position-accentblue: -100px -200px;
$s3-background-position-accentblue: -200px -200px;
$s4-background-position-accentblue: -300px -200px;
$s5-background-position-accentblue: -400px -200px;
$s6-background-position-accentblue: -500px -200px;