$bg-processing01: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-01.png";
$bg-processing02: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-02.png";
$bg-processing03: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-03.png";
$bg-processing04: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-04.png";
$bg-processing05: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-05.png";
$bg-processing06: "https://apsc-strategicplan2020.sites.olt.ubc.ca/files/2020/04/100-Opacity-Background-Gradient-Processing-Image-06.png";
