$break-hd: 1920px;
$break-desktop: 1200px;
$break-laptop: 980px;
$break-tablet: 768px;
$break-mobile: 414px;

$break-larger: 1170px;
$break-large: 860px;
$break-medium: 540px;
$break-small: 375px;
$break-x-small: 320px;
