$brand-color: rgb(12, 35, 68);
$accent-color: rgb(0, 85, 183);
$link-color:  rgb(0, 167, 225);
$block-quote-background-color: rgb(239,239,239);
$block-quote-border-color: rgb(80, 80, 80);
$grid-tile-background-color:rgb(247,247,247);

$alert-color: rgb(151,212,233);
$alert-border-color: rgb(12, 35, 68);

$arrow-color: rgba($accent-color,0.5);

$footer-gradient: linear-gradient(to right, $brand-color, $accent-color);
$diagonal-brand-to-accent-gradient: linear-gradient(to bottom right, $brand-color, $accent-color);
$diagonal-link-gradient: linear-gradient(to bottom right, #ffffff, $link-color);

$lead-by-example-color: rgb(147,41,142,0.5);
$embrace-ambiguity-color: rgb(31,89,169,0.5);
$act-with-intention-color: rgb(185,50,38,0.5);
$increase-impact-color: rgb(254,163,10,0.5);
$accelerate-solutions-color: rgb(2,120,63,0.5);

$priority-mission-color: #4d4d4d;
$priority-vision-color: #b0b0b0;

$custom-quote-color: #4d4d4d;

$iso-trend-color: #4fabb0;
$iso-uncertainty-color: #ace3c3;



