$brand-color: rgb(12, 35, 68);
$accent-color: rgb(0, 85, 183);
$link-color:  rgb(0, 167, 225);
$block-quote-background-color: rgb(239,239,239);
$block-quote-border-color: rgb(80, 80, 80);
$grid-tile-background-color:rgb(247,247,247);

$diagonal-brand-to-accent-gradient: linear-gradient(to bottom right, $brand-color, $accent-color);
$diagonal-link-gradient: linear-gradient(to bottom right, #ffffff, $link-color);

