$brand-font:'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;

$FontSizeBase: 16px;
$FontSizeMedium: $FontSizeBase*1.25;
$FontSizeLarge: $FontSizeBase*1.5;
$FontSizeGallery: $FontSizeBase*1.125;

$FontWeightMedium: 500;

$LineHeightBase: 24px;
